<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto minero:</strong>
  <%= @contactopm.proyecto_minero_id %>
</p>

<%= link_to 'Edit', edit_contactopm_path(@contactopm) %> |
<%= link_to 'Back', contactopms_path %>
