<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   Archivos grabado con exito...

   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/ventaislas" %>
</div>

 
</div