<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Estimado Usuario  </h3>
Hola <%= @user.email  %>,

El reporte ha sido generado y esta completo. Ud. puede descargar el archivo ahora 

<%= link_to "Download Report", @user.most_recent_report %>

  </body>
</html>