<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   No exite informacion para los datos ingresados 

   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/reports/rpt_cpagar3_pdf/#{@company.id}" %>
</div>

 
</div>
