<div class="mid_box bordered_right">
    
  
  <%= hr() %>

   <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Documentos de conductor/Adm", conductors_path %>
  </h3>

  <p>
     
     Documnentos de personal conductor / administrativo.

       </p>
  <%= hr() %>

</div>
