<div class="fields">
  <p>
    <%= f.label :observacion, "Observacion: " %>

    <%= proyecto_minero_exam.proyectominero3.name %>
    
    <%= f.text_area :observacion, :rows => 3 %>


  </p>
  
</div>