


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>





<div class="ui form segment raised">
<h1>Editar Proyecto Minero</h1>

<%= render 'form' %>


<br>

<div class="ui buttons">

<%= link_to 'Ver', @proyecto_minero ,   class: "ui blue submit button" %> |
<%= link_to 'Regresar', proyecto_mineros_path ,   class: "ui blue submit button" %>
</div>


</div>
