


  <h4>
    Agregar Comprobante por rendir 
  </h4>
                                              
  <form method="get" action="/viaticolgvs" onsubmit="addItemToLgv2(); return false;">

          <strong>Documento :</strong><br />
          <input type="text" name="ac_item_compro" id="ac_item_compro" value="" />
          <div class="small">
            Ingrese un termino de busqueda para encontrar un documento 
          </div>
    
          <br />

          <strong>Importe :</strong><br />
      
          <input type="text" name="ac_item_inicial" id="ac_item_inicial" value="" class="tf_short" readonly />
          <div class="small">
            Importe entregado en comprobante.
          </div>
          <br />


     <input type="hidden" name="items2" id="items2" value="<% if @compro_lines %><%= @compro_lines %><% end %>" />

    <input type="hidden" name="compro_id" id="ac_compro_id"  />
        
    <input type="submit" value="Agregar Comprobante" />

  </form>